name: Build and Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            artifact_name: fopdt_tuner_linux
            asset_name: fopdt_tuner_linux
          - os: windows-latest
            artifact_name: fopdt_tuner_win.exe
            asset_name: fopdt_tuner_win.exe

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-source: '3.12'

      - name: Install System Dependencies (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-tk

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Build with PyInstaller (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          cd tool
          pyinstaller --onefile --windowed --name fopdt_tuner_linux --clean main.py --paths ..

      - name: Build with PyInstaller (Windows)
        if: matrix.os == 'windows-latest'
        shell: cmd
        run: |
          cd tool
          pyinstaller --onefile --windowed --name fopdt_tuner_win --clean main.py --paths ..

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: tool/dist/fopdt_tuner_*
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
